@import '../../style/import/import';

.block__accordion {
    &_row {
      &:not(:last-child) {border-bottom: 2px solid $border}
    }

    &_title {
      transition: all 0.3s ease-in-out;
      padding: 8px 68px 10px 10px;
      position: relative;
      cursor: pointer;
      user-select: none;
      @include rwd-min(768) {padding: 23px 76px 23px 20px}
      @include hover {
        color: $cl;
      }

      &__icon{
        @include center(false, true);
        right: 10px;
        @include rwd-min(768) {right: 14px}
      }
    }

    &_content {
      display: none;
      padding: 20px 18px 30px;
      box-shadow: inset 0 2px 0 $border;
      body.wp-admin & {display: block;}
      @include rwd-min(768) {
        padding-left: 20px;
        padding-right: 23px;
      }
    }
  }