@import '../../style/import/import';

.block__custom_gallery {
    display: grid;
    grid-gap: 15px;
    grid-auto-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    @include rwd-min(569) {
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
    }

    &_item {
      display: flex;
      @include rwd-min(569) {
        &:nth-child(8n+5):not(:last-child) {
          grid-column: span 2 / span 3;
          grid-row: span 2 /span 3;
        }
        &:nth-child(8n+6):not(:last-child) {
          grid-column: span 1 / span 1;
          grid-row: span 2 /span 4;
          img {object-fit: cover}
        }
      }
      @include rwd-max(568) {
        &:nth-child(8n+3) {
          grid-column: span 2 / span 2;
          grid-row: span 2 /span 3;
        }
        &:nth-child(8n+7):not(:last-child) {
          grid-column: span 1 / span 2;
          grid-row: span 2 /span 6;
          img {object-fit: cover}
        }
      }

      a {display: flex}
    }
  }